/* _content/RazorLibraries.CSS/Component1.razor.rz.scp.css */
.my-component[b-coayde2zkj] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
