<div class="">
    This component is defined in the <strong>RazorLibraries</strong> library.
</div>
@code
{
  [Parameter] public Number Content {get => Value; set => Value = value; } = 0.0;
  [Parameter] public string ClassStyle {get; set; } = "";
}